<h1>Stores within 25 miles of <%= @zipcode %></h1>
<h3><%= @stores.count %> Total Stores</h3>
<table class='results table table-hover'>
  <tr>
    <th>
      Store Name
    </th>
    <th>
      City
    </th>
    <th>
      Distance
    </th>
    <th>
      Phone Number
    </th>
    <th>
      Store Type
    </th>
  </tr>
  <% @stores.each do |store| %>
    <tr>
      <td>
        <%= store.long_name %>
      </td>
      <td>
        <%= store.city %>
      </td>
      <td>
        <%= store.distance %>
      </td>
      <td>
        <%= store.phone %>
      </td>
      <td>
        <%= store.store_type %>
      </td>
    </tr>
  <% end %>
</table>
